.bodyDiv {
    height: 100vh;
}

.bodyContainer {
    margin-top: 50px;
}

.tabs a {
    color: #64b5f6;
    font-weight: bold;
    font-size: 18px;
}

.tabs .active {
    background-color: inherit !important;
}

.auth-content {
    height: 550px;
}